/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2021, 6:43:17 PM
    Author     : Tran Thi Nguyet Ha
*/
.banner_section {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-bottom: 90px;
}

.retailer_text {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #470005;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.search_text {
    width: 490px;
    float: left;
    font-size: 16px;
    color: #0e0e0e;
    margin-left: 0px;
}

.more_bt a {
    width: 40%;
    float: left;
    font-size: 16px;
    color: #fffdfd;
    background-color: #470005;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}

#my_slider .carousel-control-prev, #my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #1d1c24;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

.image_1 {
    width: 576px;
    float: right;
    height: 576px;
    padding-right: 10px;
}
