<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.account.UserController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListPostController</servlet-name>
        <servlet-class>controller.post.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>controller.post.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>controller.post.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPostController</servlet-name>
        <servlet-class>controller.post.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPostController</servlet-name>
        <url-pattern>/post/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/post/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPostController</servlet-name>
        <url-pattern>/post/details</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
